
# Authentication
NEXTAUTH_SECRET="GvKOCqshbDAwsQOs/wOJ+dJfF4JJVvLtxDndiPmxo3A="
NEXTAUTH_URL="http://localhost:3000"
CLIENT_AUTH_SECRET="09m45tODN6Y4ZtVeTAGmLp491HRgC4w1ez558HkABsQ="

# MySQL Database
DATABASE_URL="mysql://u123583059_ebrown:SU2jb1~t@82.197.82.142:3306/u123583059_sigalix"

# Email
RESEND_API_KEY="re_AhGLN6KL_Gx1dp6Aw4WgYbsigWZZV2Xbr"
RESEND_FROM_EMAIL="noreply@payments.sigalix.net"
RESEND_FROM_NAME="SIGALIX"

# Application URL
NEXT_PUBLIC_URL="http://localhost:3000"

# Cron Jobs
CRON_API_KEY="your-secure-cron-api-key"

# DISABLE NEXT TELEMETRY
NEXT_TELEMETRY_DISABLED=1

# Set to "1" to disable new user signups
NEXT_PUBLIC_DISABLE_SIGNUP=1
